@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/Components/WeatherApp.css */

/* src/App.css */
.app {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #333;
}

.dropdown label {
  display: block;
  margin-bottom: 5px;
}

.dropdown select {
  padding: 5px;
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
#main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.background {
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
}
.background .img-background {
  position: fixed;
  height: 100%;
  width: 100%;
}

.main-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr 30px;
  grid-template-areas:
    "logo"
    "content"
    "credits";
  max-width: 95%;
}

.app-name-c {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.app-name-text {
  font-size: 20px;
  color: #fff;
  transition: color 0.2s;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
}
.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "principal secondary";
  grid-gap: 30px;
  background-color: var(--content-bg);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: 12px;
  padding: 30px;
  width: 100%;
}

.principal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  grid-area: principal;
}

.principal .header {
  position: relative;
}

.principal .header,
.principal .header form {
  display: flex;
  width: 95%;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.principal .header,
.principal .header form {
  display: flex;
  width: 95%;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.principal .header form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "input"
    "extras";
}

.principal .header form .extras {
  grid-area: extras;
  display: flex;
  justify-content: center;
  align-items: center;
}

.principal .get-location {
  background-color: var(--search-button-bg);
  padding: 3px 15px;
  justify-self: flex-start !important;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.principal .get-location span {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.input-wrapper {
  grid-area: input;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.principal .header .cityInput {
  width: 90%;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 12px;
  background: none;
  padding: 10px 15px;
  outline: none;
  color: #fff;
  font-size: 16px;
}

.principal .header .search-results {
  position: absolute;
  left: -2px;
  top: 50px;
  width: 85%;
  padding: 5px;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  z-index: 10;
  visibility: hidden;
  transition: visibility 0.1s;
}

.principal .header .searchButton {
  color: #fff;
  background-color: var(--search-button-bg);
  height: 42px;
  width: 42px;
  border: none;
  border-radius: 12px;
  font-size: 22px;
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s;
}

.principal .result {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color-text-light);
  padding: 20px 0;
}
.principal .result img {
  height: 60px;
}

.principal .result h1 {
  position: relative;
  font-size: 80px;
  color: #fff;
}
h1 span {
  font-size: 20px;
  margin-left: 10px;
}
.description {
  font-size: 20px;
  line-height: 40px;
  color: var(--color-text-light);
}

.principal .result .local {
  font-size: 22px;
  line-height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
}

.principal .other-results {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

div.principal .other-results .other {
  font-size: 18px;
  text-align: center;
  color: var(--color-text-light);
  padding: 18px;
}

.other span {
  font-size: 26px;
  line-height: 40px;
}

div.principal .other-results .other {
  font-size: 18px;
  text-align: center;
  color: var(--color-text-light);
  padding: 18px;
}

div.secondary {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
      "header"
      "figure"
      "link";
  width: 100%;
}

div.secondary .secondary-results {
  grid-area: header;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

div.secondary .secondary-results .other-secondary-results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: left;
  color: #fff;
  line-height: 25px;
  padding: 18px;
}
div.secondary .secondary-results .other-secondary-results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: left;
  color: #fff;
  line-height: 25px;
  padding: 18px;
}

.other-secondary-results .icon-secondary-results {
  font-size: 50px;
}

.other-secondary-results .humidity {
  font-size: 35px;
  color: #7fffd4;
}

.other-secondary-results p {
  margin-left: 10px;
}